@page "/AdventOfCode/Y2023/Day20"
@using Algorithms
@using Algorithms.AdventOfCode.Y2023.Day20
<StepController TInput="Input" Input="@input" Solution="@selecterSolutionFinder" Delay="@delay" />
<button class="btn btn-primary" @onclick="() => {selectedSolution = selectedSolution == 1 ? 2 : 1;}">Show other solution</button>
<DelayController @bind-Delay=delay />
<InputData InputFiles=@files TInput="Input" Parser="Parser.Parse" @bind-Input=input />
@code
{
    private int delay = 1;
    private Input? input;
    private SolutionFinder1 solution1 = new SolutionFinder1();
    private SolutionFinder2 solution2 = new SolutionFinder2();
    private int selectedSolution = 1;
    private ISolutionFinder<Input> selecterSolutionFinder => (selectedSolution switch { 1 => solution1, _ => solution2 });
    private KeyValuePair<string, string>[] files = [
        new KeyValuePair<string,string>("Example",$"sample-data/AdventOfCode/Y2023/Day20/{PuzzleHelper.GetPuzzleTitle(typeof(XXSolutionFinder2)).Replace(" ", "")}.txt"),
        new KeyValuePair<string,string>("Full",$"sample-data/AdventOfCode/Y2023/Day20/{PuzzleHelper.GetPuzzleTitle(typeof(XXSolutionFinder2)).Replace(" ", "")}_full.txt")
    ];
}