@page "/AdventOfCode/Y2023/Day20"
@using Algorithms.AdventOfCode.Y2023.Day20
<StepController TInput="Input" Input="@input" Solution="@selectedSolutionFinder" Delay="@delay" />
<button class="btn btn-primary" @onclick="() => {selectedSolution = (selectedSolution+1) % solutionFinders.Count;}">Show other solution</button>
<DelayController @bind-Delay=delay />
<InputData InputFiles=@files TInput="Input" Parser="Parser.Parse" @bind-Input=input />
