@page "/AdventOfCode/Y2023/Day20"
@using Algorithms.AdventOfCode
@using Algorithms.AdventOfCode.Y2023.Day20
@inject HttpClient Http

<StepController TInput="Input" TSolutions="Solutions" TState="State" Input="@input">
    <ItemTemplate>
        <p>Rendering state : @context.Message</p>
    </ItemTemplate>
</StepController>

@code 
{
    private Input? input;
    protected override async Task OnInitializedAsync()
    {
        // await Task.Delay(5000);
        var s = await Http.GetStringAsync($"sample-data/AdventOfCode/Y2023/Day20/{PuzzleHelper.GetPuzzleTitle(typeof(Solutions)).Replace(" ", "")}_full.txt");
        var parser = new Parser();
        input = parser.Parse(s.Replace("\r", ""));
    }
}