@page "/counter"
@using Algorithms.AdventOfCode.Y2023.Day20
@inject HttpClient Http

<PageTitle>Solution</PageTitle>

<h1>Solution</h1>

@foreach(var part in pulsePropagation.Strategies)
{
<button class="btn btn-primary" @onclick="(e) => IncrementCount(part)">Solve @part</button>    
}

<p class="p-2" role="status">Solution: @solution</p>

@code {
    private string input = string.Empty;

    private string solution = string.Empty;

    private Solutions pulsePropagation = new ();

    protected override async Task OnInitializedAsync()
    {
        var s = await Http.GetStringAsync("sample-data/AdventOfCode/Y2023/Day20/PulsePropagation_full.txt");
        input = s.Replace("\r", "");
    }

    private void IncrementCount(string part)
    {
        solution = pulsePropagation.Solve(input,part).Last();
    }
}
