@page "/"

<PageTitle>Puzzle Solver</PageTitle>

<h1>Puzzle Solver</h1>

<p>This is using .Net, C sharp and WebAssembly to solve some puzzles !</p>

<p>You can find the source code for it on <a href="https://github.com/sylvain69780/PuzzleSolver">GitHub</a></p>
