@typeparam TInput
@typeparam TVisualization
@using Algorithms

<div class="row">
    <div class="col-lg-6">
        @if (SolutionFinders?.Count > 1)
        {
            <button class="btn btn-primary" @onclick="() => {selectedSolution = (selectedSolution+1) % SolutionFinders!.Count;}">Show other solution</button>
        }
        <InputData InputFiles=@InputFiles TInput="TInput" Parser="Parse!" @bind-Input=input />
        <StepController TInput="TInput" Input="@input" Solution="@SelectedSolutionFinder" Delay="@delay" OnValueChanged="StateHasChanged" />
        <button class="btn btn-primary" @onclick="SelectedSolutionFinder.Update">Iterate</button>
        <DelayController @bind-Delay=delay />
    </div>
    <div class="col-lg-6">

        @if (SelectedSolutionFinder is not null && ChildContent is not null)
        {
            @ChildContent(Visualisation)
        }
    </div>
</div>
